<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="margin-bottom: 10px;" href="#"><img src="../../assets/task_logo.png" width="30px" height="30px"></a>
      <a class="navbar-brand" href="#">Rotary</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/admin">Home</a></li>
      <li><a href="/admin/users">Users</a></li>
      <li><a href="/admin/all_meetings">Meetings</a></li>
      <li><a href="/admin/uploads">Uploads</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">