<!doctype html>
<html>
<head>
  <title>Task Manager</title>
  <link rel="shortcut icon" href="/admin_assets/images/favicon.ico">
  <link href="/admin_assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="all">
  <link href="/admin_assets/css/style.css" rel="stylesheet" media="all">
  <link href="/admin_assets/vendor/metisMenu/metisMenu.min.css" rel="stylesheet" media="all">
  <link href="/admin_assets/dist/css/sb-admin-2.css" rel="stylesheet" media="all">
  <link href="/admin_assets/vendor/morrisjs/morris.css" rel="stylesheet" media="all">
  <link href="/admin_assets/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet" media="all">
  <link href="/admin_assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" type="text/css" media="all">
  <link href="/admin_assets/css/includes/pnotify.css" media="all" rel="stylesheet" type="text/css" />
  
  <link rel="stylesheet" href="/admin_assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" media="all">
  <link rel="stylesheet" href="/admin_assets/css/includes/bootstrap-datepicker.css" />

  <link href="/admin_assets/css/includes/jquery-ui.1.11.2.min.css" rel="stylesheet" media="all"/> 
  <link rel="stylesheet" type="text/css" href="/admin_assets/js/plugins/custom-select/jquery-customselect.css">
  <link rel="manifest" href="/manifest.json" />
  <script src="/admin_assets/js/includes/OneSignalSDK.js" async=""></script>
</head>
<body>
  <div id="wrapper">
  	<%- include('../partials/Sidebar') %>
    <div id="page-wrapper">

